# Data Science Tools and Eco System

# Data Science Tools and Eco System

In [ ]:
In this notebook, Data Science Tools and Eco System is summarized

In this notebook, Data Science Tools and Eco System is summarized

**Objectives:**
- Introduction to Python,R, Java , Julia and other Languages
- Introduction to IDE like Anacondas, RStudio and Jupyter
- Libraries, API's, Data Asset Exchange

**Objectives:**
- Introduction to Python,R, Java , Julia and other Languages
- Introduction to IDE like Anacondas, RStudio and Jupyter
- Libraries, API's, Data Asset Exchange

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Scala
6. C++

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Scala
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. PyTorch
5. TensorFlow
6. dplyr

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. PyTorch
5. TensorFlow
6. dplyr

| Data Science Tools |
----------------------
| Anacondos |
| R Studio  |
| Jupyter   |
| Apache Spark |

| Data Science Tools |
----------------------
| Anacondos |
| R Studio  |
| Jupyter   |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
## This a simple arithmetic expression to mutiply then add integers,As () takes precdence it will multiply first and then Add
(3*4)+5

17

In [4]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nazim Syed

## Author
Nazim Syed